.w-e-text {
  padding: 0 10px;
  padding-top: 10px;
}
.w-e-text p,
.w-e-text h1,
.w-e-text h2,
.w-e-text h3,
.w-e-text h4,
.w-e-text h5,
.w-e-text table,
.w-e-text pre {
  margin: 10px 0;
  line-height: 1.5;
}
.w-e-text h1 {
  font-size: 16px;
  font-family: Ubuntu-Medium;
  font-weight: 500;
  color: #333;
  text-align: center;
}
.w-e-text h2 {
  font-size: 12px;
  font-family: Ubuntu-regular;
  font-weight: 500;
  color: #aaa;
  text-align: center;
}
.w-e-text p {
  font-size: 16px;
  font-family: Montserrat-Light;
  font-weight: 300;
  color: #666666;
}
.w-e-text ul,
.w-e-text ol {
  margin: 10px 0 10px 20px;
}
.w-e-text blockquote {
  display: block;
  border-left: 2px solid #E2E2E2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 14px;
  color: #AAA;
  min-height: 28px;
}
.w-e-text code {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
}
.w-e-text pre code {
  display: block;
}
.w-e-text div.split {
  width: 20%;
  height: 1px;
  background: #E2E2E2;
  margin: 30px auto;
}
.w-e-text div.split:before {
  content: ' ';
}
.w-e-text table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.w-e-text table td,
.w-e-text table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.w-e-text table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.w-e-text:focus {
  outline: none;
}
.w-e-text img,
.w-e-text video {
  cursor: pointer;
}
.w-e-text .kolo-img {
  width: 100%;
  max-width: 345px;
  margin: 15px auto;
  position: relative;
}
.w-e-text .kolo-img img {
  width: 100%;
}
.w-e-text .kolo-img i {
  position: absolute;
  cursor: pointer;
  right: -10px;
  top: -10px;
  color: #fff;
  background: #ccc;
  font-size: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  display: none;
}
.w-e-text .kolo-img i img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.w-e-text .kolo-img:hover i {
  display: block;
}
.w-e-text .kolo-audio {
  width: 100%;
  max-width: 345px;
  margin: 10px auto;
  position: relative;
  padding-bottom: 10px;
}
.w-e-text .kolo-audio .audio-content {
  width: 100%;
  margin-bottom: 2px;
  height: 90px;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
}
.w-e-text .kolo-audio i {
  position: absolute;
  cursor: pointer;
  right: -10px;
  top: -10px;
  color: #fff;
  background: #ccc;
  font-size: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  display: none;
}
.w-e-text .kolo-audio i img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.w-e-text .kolo-audio:hover i {
  display: block;
}
.w-e-text .kolo-audio .music-img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-right: 10px;
  float: left;
}
.w-e-text .kolo-audio .music-img img {
  width: 100%;
  height: 100%;
}
.w-e-text .kolo-audio .audio-title {
  width: calc(100% - 100px);
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  height: 60px;
}
.w-e-text .kolo-audio .audio-title h3 {
  font-size: 14px;
  font-family: Montserrat-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 18px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w-e-text .kolo-audio .audio-title p {
  font-size: 10px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 13px;
  margin: 6px 0;
}
.w-e-text .kolo-audio .audio-control {
  float: left;
  padding-top: 15px;
}
.w-e-text .kolo-audio .audio-control img {
  width: 28px;
  height: 28px;
}
.w-e-text .kolo-audio .audio-control.status-play img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.w-e-text .kolo-audio .audio-control.status-play img:nth-child(2) {
  display: none;
}
.w-e-text .kolo-audio .audio-control.status-pause img {
  display: none;
}
.w-e-text .kolo-audio .audio-control.status-pause img:nth-child(2) {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.w-e-text .kolo-audio .input-p {
  text-align: center;
  width: 100%;
  max-width: 345px;
  margin: auto;
  line-height: 1.2;
}
.w-e-text .kolo-audio .input-p input {
  width: 100%;
  height: 37px;
  line-height: 36px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  color: #aaa;
}
.w-e-text .kolo-audio .input-p input::-webkit-input-placeholder,
.w-e-text .kolo-audio .input-p input::-moz-placeholder,
.w-e-text .kolo-audio .input-p input::-ms-input-placeholder {
  color: red;
}
.w-e-text .kolo-audio .input-p span {
  font-size: 12px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  color: #aaa;
}
.w-e-text .kolo-video {
  width: 100%;
  max-width: 345px;
  margin: 15px auto;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.w-e-text .kolo-video .kolo-video-container {
  width: 100%;
  min-height: 140px;
  background: #000000;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.w-e-text .kolo-video .kolo-video-container .progress-content {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  max-width: 345px;
  min-height: 260px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}
.w-e-text .kolo-video .kolo-video-container .progress-content p {
  height: 20px;
  margin: 0;
  margin-bottom: 10px;
  position: absolute;
  bottom: 20px;
  margin: auto;
}
.w-e-text .kolo-video .kolo-video-container .progress-content p:first-child {
  bottom: 50px;
}
.w-e-text .kolo-video .kolo-video-container .progress-content p:last-child {
  bottom: 20px;
}
.w-e-text .kolo-video .kolo-video-container .progress-content img {
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  max-width: 345px;
}
.w-e-text .kolo-video .kolo-video-container .progress-content .video-control-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.w-e-text .kolo-video .kolo-video-container .progress-content .subtitle-video {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.w-e-text .kolo-video .kolo-video-container .progress-content .video-progress {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.w-e-text .kolo-video .kolo-video-container .video-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.w-e-text .kolo-video .kolo-video-container .video-content img {
  -ms-flex-align: center;
      align-items: center;
}
.w-e-text .kolo-video .kolo-video-container .video-content video,
.w-e-text .kolo-video .kolo-video-container .video-content img {
  width: 100%;
  max-width: 345px;
  min-height: 180px;
  max-height: 195px;
}
.w-e-text .kolo-video .kolo-video-container .video-content .video-control-btn {
  width: 40px;
  height: 40px;
  min-height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.w-e-text .kolo-video .kolo-video-container .video-content p {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #ccc;
}
.w-e-text .kolo-video i {
  position: absolute;
  cursor: pointer;
  right: -10px;
  top: -10px;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.w-e-text .kolo-video i img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.w-e-text .kolo-video .before-img {
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 10px;
  font-size: 12px;
  color: #333;
  padding: 3px 6px;
  background: #fff;
  border-radius: 10px;
}
.w-e-text .kolo-video .before-img,
.w-e-text .kolo-video .w-e-icon-close {
  display: none;
}
.w-e-text .kolo-video:hover .before-img,
.w-e-text .kolo-video:hover .w-e-icon-close {
  display: block;
}
.w-e-text .kolo-inline-link {
  text-decoration: underline;
  color: rgba(65, 55, 56, 0.7);
  cursor: pointer;
}
.w-e-text .kolo-link {
  width: 100%;
  max-width: 300px;
  margin: 15px auto;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 90px;
  background: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px #eee;
}
.w-e-text .kolo-link > a {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  padding: 15px;
  width: 100%;
}
.w-e-text .kolo-link > a .link-img {
  width: 60px;
  min-width: 60px;
  height: 60px;
}
.w-e-text .kolo-link > a .link-img img {
  width: 100%;
  height: 100%;
}
.w-e-text .kolo-link > a .link-content {
  width: calc(100% - 60px);
  padding-left: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.w-e-text .kolo-link > a .link-content h3 {
  font-size: 14px;
  font-family: Montserrat-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w-e-text .kolo-link > a .link-content p {
  font-size: 10px;
  font-family: Montserrat-Regular;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
